---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
const PROJECTS = [
  {
    title: "All In Informática",
    description:
      "E-commerce para una tienda especializada en la venta de insumos informáticos y servicio técnico. Ofrece una experiencia de compra rápida y confiable.",
    link: "https://allinlujan.com.ar",
    image: "/allin-img.webp",
  },
  {
    title: "The Modding Corner",
    description:
      "Tienda online dedicada a la venta de consolas de videojuegos modificadas. Ideal para gamers que buscan una experiencia única con sus dispositivos.",
    link: "https://themoddingcorner.com",
    image: "/tmc-img.webp",
  },
  {
    title: "Lymbrarie",
    description:
      "Biblioteca personal que permite al usuario llevar un registro ordenado de sus libros. Facilita el seguimiento y ofrece datos relevantes acerca de sus lecturas.",
    link: "https://lymbrarie.com",
    image: "/lymbrarie-img.webp",
    github: "https://github.com/gixilym/lymbrarie",
  },
  {
    title: "Lyra",
    description:
      "Programa de escritorio diseñado para los amantes de la escritura sin distracciones. Con su interfaz minimalista y funcionalidad offline, es la herramienta ideal para escribir cualquier tipo de contenido.",
    link: "https://lyra-web.netlify.app",
    image: "/lyra-img.webp",
    github: "https://github.com/gixilym/lyra",
  },
  {
    title: "Lym CLI",
    description:
      "CLI desarrollada con Rust que ofrece comandos para generar contraseñas, traducir texto, resolver expresiones matemáticas y más.",
    link: "https://lym.netlify.app",
    image: "/cli-img.webp",
    github: "https://github.com/gixilym/lym-cli",
  },
  {
    title: "Imagen a Link",
    description:
      "Convierte imágenes en enlaces compartibles en segundos. Facilita la creación de links para usarlos en cualquier plataforma o proyecto.",
    link: "https://imagen-a-link.netlify.app",
    image: "/itl-img.webp",
    github: "https://github.com/gixilym/imagen-a-link",
  },
  {
    title: "Atajos para caracteres especiales",
    description:
      "Extensión para VSC, pensada como solución para cuando tienes teclas dañadas (como fue mi caso). Permite insertar caracteres especiales mediante comandos abreviados.",
    link: "https://marketplace.visualstudio.com/items?itemName=Atajosdecaracteresespeciales.caracteres-especiales-atajos",
    image: "/atajos.webp",
    github: "https://github.com/gixilym/atajos-extension-vsc",
  },
];
---

<ul class="flex flex-col gap-y-16 px-4 sm:px-0">
  {
    PROJECTS.map(project => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl">
            <img
              alt="imagen de proyecto"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:group-hover:scale-105 border-2 border-gray-600/50 rounded-xl"
              loading="lazy"
              src={project.image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100">{project.title}</h3>

          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-200">{project.description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-2">
              <LinkButton href={project.link}>
                <Link class="size-4" />
                URL
              </LinkButton>
              {project.github && (
                <LinkButton href={project.github}>
                  <GitHub class="size-4" />
                  Código
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }

  <a
    target="_blank"
    href="https://github.com/gixilym?tab=repositories"
    class="text-gray-300 hover:underline cursor-pointer hover:text-white w-full sm:w-max text-center sm:text-start"
    >Ver más proyectos</a
  >
</ul>
